---
import "@fortawesome/fontawesome-free/css/all.css";
---

<footer class="text-white">
  <div
    class="w-full border-t border-gray-700 mx-auto px-4 sm:px-6 lg:px-24 py-8"
  >
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <div>
        <h3 class="text-lg font-semibold mb-4 text-white">About</h3>
        <ul class="space-y-4 text-gray-300">
          <li>
            <a href="/about" class="hover:text-white">Our Story</a>
          </li>
          <li>
            <a href="/team" class="hover:text-white">Our Team</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-4 text-white">Companies</h3>
        <ul class="space-y-4 text-gray-300">
          <li>
            <a href="/portfolio" class="hover:text-white">Portfolio</a>
          </li>
          <li>
            <a href="/partners" class="hover:text-white">Partners</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-4 text-white">Resources</h3>
        <ul class="space-y-4 text-gray-300">
          <li>
            <a href="/news" class="hover:text-white">News</a>
          </li>
          <li>
            <a href="/insights" class="hover:text-white">Insights</a>
          </li>
          <li>
            <a href="/contact" class="hover:text-white">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="text-center border-t border-gray-700 mx-auto px-4 sm:px-6 lg:px-24 py-8"
  >
    <div
      class="flex flex-col sm:flex-row justify-between items-center gap-4 sm:gap-8"
    >
      <div>
        <img
          src="/imgs/Logo-Dark-Alt.png"
          alt="Company Logo"
          class="h-8 sm:h-12 w-auto"
        />
      </div>
      <div class="flex flex-wrap justify-center gap-12">
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          class="hover:text-gray-300"
        >
          <i class="text-2xl fa-brands fa-linkedin"></i>
        </a>
        <a
          href="https://twitter.com/"
          target="_blank"
          class="hover:text-gray-300"
        >
          <i class="text-2xl fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-between items-center gap-4 sm:gap-8 mt-8"
    >
      <p class="text-gray-300">© 2025 YOLET Dynamics. All rights reserved.</p>
      <p class="text-gray-300 flex gap-4">
        <a href="/terms" class="hover:text-white">Terms & Conditions</a>
        <span class="hidden sm:inline">|</span>
        <a href="/privacy" class="hover:text-white">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
