---

---

<div class="w-full min-h-screen flex items-center justify-center">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
    <div class="flex flex-col items-center text-center">
      <div class="flex flex-col items-center space-y-12">
        <h1
          class="text-4xl md:text-6xl lg:text-7xl text-white max-w-5xl leading-10 font-anonymous"
        >
          Empowerment Through Simplicity & Excellence
        </h1>

        <p
          class="font-body text-lg md:text-xl text-gray-300 max-w-3xl leading-10"
        >
          Guided by meticulous attention to detail, genuine empathy, unwavering
          integrity, we strive to uplift individuals and communities across
          Ethiopia, Africa, and beyond.
        </p>

        <div class="flex gap-4">
          <a
            href="/story"
            class="px-12 py-4 bg-mainBlack-500 text-white font-body rounded-lg hover:bg-mainBlack-500/50 transition-all text-base"
          >
            Who We Are
          </a>
          <a
            href="#products"
            class="px-12 py-4 border-2 border-ashGray-500 text-white font-body rounded-lg hover:bg-ashGray-500 hover:border-mainYellow-500 transition-all text-base"
          >
            Let's Talk
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
